#map {
    /* height: 50vh;
    width: 50vh; */
    /* margin-left: auto;
    border: 5px green solid;
    border-radius: 10%; */
    position: fixed;
    width: 600px;
    height: 200px;
    left: 50%;
    top: 20%;
    margin-left: auto; /*half the width*/
}
body {
    background-color: #bfccb5;
}
#results {
    margin: 0;
}
#reload {
    border: transparent;
    background-color: transparent;
}

#carContainer {
    position: absolute;
}

img {
    max-height: auto;
    width: auto;
    border-radius: 10%;
}

.carousel-inner {
    height: auto;
    max-height: 600px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
#carouselExampleAutoplaying {
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#spaceMe {
    margin-top: 55vh;
    /* bottom: 10px; */
    /* margin-bottom: auto; */
}
h1 {
    font-family: 'Cinzel', serif;
}
#refresh3 {
    float: right;
}
#refresh2 {
    float: right;
}
#refresh1 {
    float: right;
}
#refresh3b {
    border: transparent;
    background-color: transparent;
}
#refresh2b {
    border: transparent;
    background-color: transparent;
}
#refresh1b {
    border: transparent;
    background-color: transparent;
}
.card {
    background-color: #f0f0f0;
    outline: solid 2px #7c96ab;
}
