#reload {
    border: transparent;
    background-color: transparent;
}
body {
    background-color: #fff2cc;
}
h1 {
    font-family: 'Cinzel', serif;
}

/* .test {
    bottom: 400px;
} */

.card {
    background-color: #f7d060;
    outline: solid 5px #d21312;
}
#returnHome {
    margin-top: 500px;
}
